<div class="title myfonts">
  <h1> William</h1>
  <div>Full Stack Eng.</div>
</div>
<main>
  <!-- <router-outlet></router-outlet> -->
  <app-page-one [pageNumber]="3"></app-page-one>
  <app-page-one [pageNumber]="2"></app-page-one>
  <app-page-one [pageNumber]="1"></app-page-one>
</main>
<nav class="myfonts">
  <span class="verticalLineRed"></span>
  <span class="verticalLineYellow"></span>
  <span class="verticalLineBlue"></span>
  <ul>
    <li>
      home
    </li>
    <li>
      work
    </li>
    <li>
      about
    </li>
  </ul>
</nav>