<span class="myfonts" *ngIf="pageNumber == 1">
    <div class="main-div-1 myfonts" [@flyInOut]="currentState1">
        <div style="    display: flex;
        margin-right: 30%;
        margin-left: 50px;
        flex-direction: row;
        ">
            <div>
                <h2>Home</h2>
                <p style="font-size: 25px;
                padding: 50px;">
                    Welcome to my portfolio site. I have been programming personally and professionaly for a combined 7+ years.
                    I have created successful responsive webistes, robust APIs, and designed complex architectures. My main area of expertise is
                    with front-end technologyies. 
                </p>
            </div>
            <div style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;">
                <span style="color: #0a65c2;">linkedin</span>
                <span>github</span>
                <span style="color: rgb(255 2 0);">youtube</span>
            </div>
        </div>
    </div>
    <div class="main-div-2 myfonts" [@flyInOut]="currentState2">
        <div style="    display: flex;
        margin-right: 30%;
        margin-left: 50px;
        flex-direction: row;
        ">
            <div>
                <h2>Home</h2>
                <p style="font-size: 25px;
                padding: 50px;">
                    Welcome to my portfolio site. I have been programming personally and professionaly for a combined 7+ years.
                    I have created successful responsive webistes, robust APIs, and designed complex architectures. My main area of expertise is
                    with front-end technologyies. 
                </p>
            </div>
            <div style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;">
                <span style="color: #0a65c2;">linkedin</span>
                <span>github</span>
                <span style="color: rgb(255 2 0);">youtube</span>
            </div>
        </div>
    </div>
    <div class="main-div-3 myfonts" [@flyInOut]="currentState3">
        <div style="    display: flex;
        margin-right: 30%;
        margin-left: 50px;
        flex-direction: row;
        ">
            <div>
                <h2>Home</h2>
                <p style="font-size: 25px;
                padding: 50px;">
                    Welcome to my portfolio site. I have been programming personally and professionaly for a combined 7+ years.
                    I have created successful responsive webistes, robust APIs, and designed complex architectures. My main area of expertise is
                    with front-end technologyies. 
                </p>
            </div>
            <div style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;">
                <span style="color: #0a65c2;">linkedin</span>
                <span>github</span>
                <span style="color: rgb(255 2 0);">youtube</span>
            </div>
        </div>
    </div>
    <div class="main-div myfonts" [@flyInOut]="currentState">
        <div style="    display: flex;
        margin-right: 30%;
        margin-left: 50px;
        flex-direction: row;
        ">
            <div>
                <h2>Home</h2>
                <p style="font-size: 25px;
                padding: 50px;">
                    Welcome to my portfolio site. I have been programming personally and professionaly for a combined 7+ years.
                    I have created successful responsive webistes, robust APIs, and designed complex architectures. My main area of expertise is
                    with front-end technologyies. 
                </p>
            </div>
            <div style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;">
                <span style="color: #0a65c2;">linkedin</span>
                <span>github</span>
                <span style="color: rgb(255 2 0);">youtube</span>
            </div>
        </div>
    </div>
</span>
<span *ngIf="pageNumber == 2">
    <div class="main-div-1 myfonts" [@flyInOut]="currentState1">
        <div style="display: flex; width: 50%; flex-direction: column;">
            <h2>Skills</h2>
            <div style="display: flex; justify-content: flex-start;">
                <ul class="borderd yellow">
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>HTML/CSS</li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <ul class="borderd red">
                    <li>Java</li>
                    <li>Python</li>
                    <li>C++</li>
                    <li>Spring</li>
                    <li>NodeJS</li>
                    <li>Express</li>
                </ul>
            </div>
            <div style="display: flex; justify-content: end;">
                <ul class="borderd blue">
                    <li>AWS</li>
                    <li>Git</li>
                    <li>Network+</li>
                    <li>Sec+</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-div-2 myfonts" [@flyInOut]="currentState2">
        <div style="display: flex; width: 50%; flex-direction: column;">
            <h2>Skills</h2>
            <div style="display: flex; justify-content: flex-start;">
                <ul class="borderd yellow">
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>HTML/CSS</li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <ul class="borderd red">
                    <li>Java</li>
                    <li>Python</li>
                    <li>C++</li>
                    <li>Spring</li>
                    <li>NodeJS</li>
                    <li>Express</li>
                </ul>
            </div>
            <div style="display: flex; justify-content: end;">
                <ul class="borderd blue">
                    <li>AWS</li>
                    <li>Git</li>
                    <li>Network+</li>
                    <li>Sec+</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-div-3 myfonts" [@flyInOut]="currentState3">
        <div style="display: flex; width: 50%; flex-direction: column;">
            <h2>Skills</h2>
            <div style="display: flex; justify-content: flex-start;">
                <ul class="borderd yellow">
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>HTML/CSS</li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <ul class="borderd red">
                    <li>Java</li>
                    <li>Python</li>
                    <li>C++</li>
                    <li>Spring</li>
                    <li>NodeJS</li>
                    <li>Express</li>
                </ul>
            </div>
            <div style="display: flex; justify-content: end;">
                <ul class="borderd blue">
                    <li>AWS</li>
                    <li>Git</li>
                    <li>Network+</li>
                    <li>Sec+</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-div myfonts" [@flyInOut]="currentState">
        <div style="display: flex; width: 50%; flex-direction: column;">
            <h2>Skills</h2>
            <div style="display: flex; justify-content: flex-start;">
                <ul class="borderd yellow">
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>HTML/CSS</li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <ul class="borderd red">
                    <li>Java</li>
                    <li>Python</li>
                    <li>C++</li>
                    <li>Spring</li>
                    <li>NodeJS</li>
                    <li>Express</li>
                </ul>
            </div>
            <div style="display: flex; justify-content: end;">
                <ul class="borderd blue">
                    <li>AWS</li>
                    <li>Git</li>
                    <li>Network+</li>
                    <li>Sec+</li>
                </ul>
            </div>
        </div>
    </div>
</span>
<span *ngIf="pageNumber == 3">
    <div class="main-div-1 myfonts" [@flyInOut]="currentState1">
        <div style="    display: flex;
        flex-direction: column;">
        <h2>Personal Projects</h2>
            <div class="borderd" style="margin-bottom: 30px;">
                <h3>
                    IOS App - Bity Crunch
                </h3>
                <ul>
                    <li>Written in Swift</li>
                    <li>Live on the app store!</li>
                    <li>link</li>
                </ul>
            </div>
            <div class="borderd">
                <h3>
                    MEAN Stack Web App
                </h3>
                <ul>
                    <li>Authentication</li>
                    <li>Authorization</li>
                    <li>AJAX</li>
                    <li>link to code</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-div-2 myfonts" [@flyInOut]="currentState2">
        <div style="    display: flex;
        flex-direction: column;">
        <h2>Personal Projects</h2>
            <div class="borderd" style="margin-bottom: 30px;">
                <h3>
                    IOS App - Bity Crunch
                </h3>
                <ul>
                    <li>Written in Swift</li>
                    <li>Live on the app store!</li>
                    <li>link</li>
                </ul>
            </div>
            <div class="borderd">
                <h3>
                    MEAN Stack Web App
                </h3>
                <ul>
                    <li>Authentication</li>
                    <li>Authorization</li>
                    <li>AJAX</li>
                    <li>link to code</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-div-3 myfonts" [@flyInOut]="currentState3">
        <div style="    display: flex;
        flex-direction: column;">
        <h2>Personal Projects</h2>
            <div class="borderd" style="margin-bottom: 30px;">
                <h3>
                    IOS App - Bity Crunch
                </h3>
                <ul>
                    <li>Written in Swift</li>
                    <li>Live on the app store!</li>
                    <li>link</li>
                </ul>
            </div>
            <div class="borderd">
                <h3>
                    MEAN Stack Web App
                </h3>
                <ul>
                    <li>Authentication</li>
                    <li>Authorization</li>
                    <li>AJAX</li>
                    <li>link to code</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-div myfonts" [@flyInOut]="currentState">
        <div style="    display: flex;
        flex-direction: column;">
        <h2>Personal Projects</h2>
            <div class="borderd" style="margin-bottom: 30px;">
                <h3>
                    IOS App - Bity Crunch
                </h3>
                <ul>
                    <li>Written in Swift</li>
                    <li>Live on the app store!</li>
                    <li>link</li>
                </ul>
            </div>
            <div class="borderd">
                <h3>
                    MEAN Stack Web App
                </h3>
                <ul>
                    <li>Authentication</li>
                    <li>Authorization</li>
                    <li>AJAX</li>
                    <li>link to code</li>
                </ul>
            </div>
        </div>
    </div>
</span>

